@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

.sv-title.sv-question__title {
  font-size: 18px;
  background: none;
}
.sv-title.sv-question__title.sv-question__title--answer {
  background-color: #d2ffd8;
}
.test-colors {
  color: #5bba6f;
  background-color: rgb(38, 40, 48);
}
