@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

.sv-title.sv-question__title {
  font-size: 18px;
  font-weight: 500;
}
.sv-title.sv-question__title.sv-question__title--answer {
  background-color: #d2ffd8;
}

.leaflet-container {
  height: 100%;
}

.test-colors {
  color: #5bba6f;
  background-color: rgb(38, 40, 48);
  background-position: center;
}
@media only screen and (max-width: 450px) {
  span.sv-rating__max-text,
  span.sv-rating__min-text {
    display: none;
  }
}
